---
import GithubIcon from '$components/Icons/Github.astro';
import { Content as Introduction } from '$components/introduction.md';
import { Content as Polyfill } from '$components/polyfill.md';
import { Content as Resources } from '$components/resources.md';
import RodneyLabCredit from '$components/RodneyLabCredit.astro';
import SEO from '$components/SEO/index.astro';
import '$styles/fonts.css';
import '$styles/global.css';
import getResult from '$utilities/file';


const methods = (await Astro.glob('../content/*.md')).sort((a, b) => a.frontmatter.title.localeCompare(b.frontmatter.title));

const results = await Promise.all(methods.map(({ file }) => {
  const path = file.replace(/\.md/, '').split('/').at(-1);
  return getResult(path);
}));

const COPYRIGHT_ENTITY = '\u00A9'; // (c)

const seoProps = {
  title: 'Temporal API Cheatsheet: Quick Guide to new JS API',
  metadescription: 'Temporal API Cheatsheet: a quick guide to new JavaScript Temporal API including code snippets and example use cases.',
};
---

<html lang="en-GB">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
  <link rel="alternate icon" href="/favicon.ico" type="image/png" sizes="16x16" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="192x192" />
  <link rel="mask-icon" href="/favicon.svg" />
  <SEO {...seoProps} />
</head>

<body>
  <header>
    <nav>
      <a aria-label="Open Git Hub repo" href="https://github.com/rodneylab/temporal-api-cheatsheet" target="_blank"
        rel="nofollow noopener noreferrer">
        <GithubIcon />
      </a>
    </nav>
  </header>
  <main class="container">
    <h1 class="heading">JavaScript Temporal API Cheatsheet</h1>
    <div class="content content-emph">
      <Introduction />
    </div>
    <h2>Polyfill</h2>
    <div class="content">
      <Polyfill />
    </div>
    <section role="feed">
      <h2>Methods</h2>
      {methods.map(({Content, frontmatter: {docs, title}},index) => (
      <article class="content example">
        <h3 id={title}>{title}</h3>
        <Content />
        {results[index] ?
        <div class="result">
          {results[index].now ?
          <div>Now: {results[index].now.toString()}</div> : null
          }
          <div>Result: <strong>{results[index].result}</strong></div>
        </div>
        : null
        }
        <div class="docs">
          <strong>Docs</strong>: <a aria-label={`Open T C 39 docs on ${title} method`} href={docs} target="_blank"
            rel="nofollow noopener noreferrer">{docs}</a>
        </div>
      </article>))}
    </section>
    <h2>Resources</h2>
    <div class="content content-emph">
      <Resources />
    </div>
  </main>
  <footer>
    <div class="copyright">Copyright {COPYRIGHT_ENTITY} 2022 Rodney Johnson.</div>
    <RodneyLabCredit />
  </footer>
</body>

</html>

<style>
  header {
    display: flex;
    font-size: var(--font-size-5);
    width: min(100% - var(--spacing-12), var(--max-width-wrapper));
    margin: var(--spacing-12) auto var(--spacing-0);
  }

  header a {
    color: var(--colour-dark);
  }

  header nav {
    margin-left: auto;
  }

  .container {
    background-color: var(--colour-brand);
    color: var(--colour-light);
    width: min(100% - var(--spacing-12), var(--max-width-wrapper));
    margin: var(--spacing-0) auto;
    padding: var(--spacing-12) var(--spacing-0);
    font-size: var(--font-size-1);
    line-height: var(--line-height-normal);
  }

  .heading {
    text-align: center;
    margin-bottom: var(--spacing-18);
  }

  .content {
    background-color: var(--colour-theme);
    border-radius: var(--spacing-4);
    border: var(--spacing-1) solid var(--colour-light);
    box-shadow: var(--shadow-elevation-medium);
    padding: var(--spacing-2) var(--spacing-6) var(--spacing-4);
    margin-bottom: var(--spacing-16);
  }

  .content h2 {
    color: var(--colour-light);
  }

  .result {
    background-color: var(--colour-light);
    color: var(--colour-dark);
    padding: var(--spacing-4);
    border-radius: var(--spacing-1);
    border: var(--spacing-px-2) solid var(--colour-alt);
    font-family: IBM Plex Mono;
    margin-bottom: var(--spacing-4);
  }

  .docs,
  .docs a {
    background-color: ;
    color: var(--colour-brand-tint-10);
    margin-bottom: var(--spacing-2);
  }

  .copyright {
    margin-bottom: var(--spacing-6);
  }
</style>